html, body {
    padding-top: 65px;
    margin: 0;
    background-color: #efefef;
    font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif;
    text-align: center;
}
input, textarea {
    background: #FCFCFC;
    border: 1px solid lightgray;
    padding: 3px;
}
.largerFont {
    font-size: 16px;
}
.myMsg{
    text-align: right;
}
.wrapper {
    border-radius: 15px;
    text-align: left;
    width: 500px;
    height: 660px;
    padding: 10px;
    margin: 0 auto;
    animation: backgroundColor 2s linear alternate infinite;
    -webkit-animation: backgroundColor 2s linear alternate infinite;
    display: inline-block;
}
.sidebar{
    display: inline-block;
    width: 100px;
    background: white;
    height: 660px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
}
#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 350px;
}
#nickWrapper {
    display: none;
}
.banner {
    height: 100px;
    width: 100%;
}
.banner p {
    float: left;
    display: inline-block;
}
.controls {
    height: 100px;
    margin: 5px 0px;
    position: relative;
}
#historyMsg {
    height: 400px;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}
#historyMsg img {
    max-width: 99%;
}
.timespan {
    color: #ddd;
}
.items {
    height: 30px;
}
#colorStyle {
    width: 50px;
    border: none;
    padding: 0;
}
/*custom the file input*/

.imageLable {
    position: relative;
}
#sendImage, #sendFile{
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}
/*end custom file input*/

#messageInput {
    width: 440px;
    max-width: 440px;
    height: 90px;
    max-height: 90px;
    float:left;
}
#sendBtn {
    width: 50px;
    height: 96px;
    float: right;
}
#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 54px;
    height: 54px;
}
#emojiWrapper img:hover {
    background-color: blue;
}
.emoji{
    display: inline;
}
@keyframes backgroundColor
{
    from {
        background-color: #FFF68F;
    }
    to {
        background-color: #BFEFFF;
    }
}

@-webkit-keyframes backgroundColor
{
    from {
        background-color: #FFF68F;
    }
    to {
        background-color: #BFEFFF;
    }
}
.nameList{
    max-width: 350px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nameListAfter{
    display: inline-block;
    position: relative;
    top: -7px;
}
.fileDiv{
    float: right;
    height: 100px;
    background: white;
    border: 2px solid lightgray;
    border-radius: 2px;
    line-height: 100px;
    padding: 0 20px;
    position: relative;
}
.myMsg:after{
    content: '';
    display: block;
    clear: both;
}
.download{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28px;
}
#sidebar{
    list-style: none;
    padding: 10px 0;
    text-align: left;
    margin: 0;
}
#sidebar li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebarTitle{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}